<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Coalesce Security Overview</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha256-MBffSnbbXwHCuZtgPYiwMQbfE7z+GOZ7fBPCNB06Z98="
      crossorigin="anonymous"
    />
    <script>
      const getStoredTheme = () => localStorage.getItem("coalesce-sec-theme");
      const setStoredTheme = (theme) =>
        localStorage.setItem("coalesce-sec-theme", theme);

      const getTheme = () =>
        getStoredTheme() ||
        window.matchMedia("(prefers-color-scheme: dark)").matches
          ? "dark"
          : "light";

      const setTheme = (theme) => {
        document.documentElement.setAttribute("data-bs-theme", theme);
        setStoredTheme(theme);
      };

      setTheme(getTheme());
    </script>
    <style>
      [v-cloak] {
        display: none;
      }

      a {
        text-decoration: none;
      }

      .toc a {
        transition: all 50ms ease-in-out;
      }
      .toc a.active {
        font-weight: 500;
      }
      .small {
        font-size: 0.875em;
      }

      .card .table tr:last-child td {
        border-bottom: none !important;
      }
      .card .table {
        margin-bottom: 0;
      }
      .card-body {
        padding: 0.5rem 1rem;
      }
      th {
        font-weight: 400;
      }

      .bg-custom-code {
        background: hsl(269deg 69% 31%);
      }
      .bg-stock {
        background: #0d6efd;
      }
      @media print {
        section {
          page-break-after: always;
          page-break-inside: avoid;
        }
      }

      [title]:not(.badge) {
        text-decoration: underline dotted;
        text-decoration-thickness: 1px;
      }
    </style>
  </head>
  <body>
    <h1 id="top" class="display-1 text-center">Coalesce Security Overview</h1>

    <div id="app" class="mt-1" v-cloak>
      <div class="row m-0">
        <div class="col d-print-none" style="max-width: 240px">
          <nav
            class="toc p-2"
            style="
              position: sticky;
              top: 0px;
              overflow-y: auto;
              max-height: calc(100vh - 16px);
            "
          >
            <span class="float-end">
              Theme:
              <a
                class="text-capitalize"
                role="button"
                @click="setTheme(theme = (theme == 'dark' ? 'light' : 'dark'))"
              >
                {{ theme }}
              </a>
            </span>
            <a href="#top">Top</a>

            <template
              v-for="set in [
              {heading: 'Entities', types: crudTypes.filter(t => !t.dtoBaseType)},
              {heading: 'Custom DTOs', types: crudTypes.filter(t => t.dtoBaseType), hideEmpty: true},
              {heading: 'Services', types: serviceTypes},
              {heading: 'Simple Models', types: externalTypes}
            ].filter(s => s.types.length || !s.hideEmpty)"
            >
              <h6 class="mt-4">{{set.heading}}</h6>
              <div v-if="!set.types.length" class="text-muted">None</div>
              <div v-for="t in set.types">
                <a :href="'#type-' + t.name">{{t.name}}</a>
              </div>
            </template>
          </nav>
        </div>
        <div class="col">
          <div class="">
            <p>
              Below you will find an overview of all the types in your data
              model that are exposed by Coalesce's generated API endpoints.
              Included in this overview are the static security restrictions
              defined using
              <a
                href="https://coalesce.intellitect.com/modeling/model-components/attributes/security-attribute"
                >attributes</a
              >.
            </p>
            <p>
              Due to their nature, dynamically implemented security rules are
              not accounted for - for example, custom logic implemented inside
              <a
                href="https://coalesce.intellitect.com/modeling/model-components/data-sources/"
                >Data Sources</a
              >
              and
              <a
                href="https://coalesce.intellitect.com/modeling/model-components/behaviors/"
                >Behaviors</a
              >. You should write automated tests to verify the proper
              functioning of your custom code.
            </p>

            <div class="alert alert-warning" role="alert">
              IMPORTANT: <strong>If the generated code is stale</strong>, the
              information on this page may match not actual application
              functionality.
            </div>

            <section
              v-for="type in crudTypes"
              class="mb-5"
              :id="'type-' + type.name"
            >
              <h1>
                {{type.name}}
                <small class="text-muted">/api/{{type.route}}</small>
                <div v-if="type.dtoBaseType" class="text-muted mb-2 fs-6 px-1">
                  IClassDto&lt;<type-display
                    :member="type.dtoBaseType"
                  ></type-display
                  >&gt;
                </div>
              </h1>

              <div class="row">
                <div class="col" style="flex-basis: 450px; max-width: 500px">
                  <div class="card mb-4 px-2">
                    <table class="table">
                      <tr
                        v-for="({action, subtitle}, idx) in [
                          {action: type.read, subtitle: '/get, /list, /count'},
                          {action: type.create, subtitle: '/save, /bulkSave'},
                          {action: type.edit, subtitle: '/save, /bulkSave'},
                          {action: type.delete, subtitle: '/delete, /bulkSave'}
                        ]"
                      >
                        <td>
                          <h4 class="mb-0">{{action.name}}</h4>
                        </td>
                        <td style="vertical-align: middle">
                          <small class="text-muted small">{{subtitle}}</small>
                        </td>
                        <td class="">
                          <security-badge :action="action"></security-badge>
                        </td>
                      </tr>
                    </table>
                  </div>

                  <div class="card mb-4">
                    <div class="card-body">
                      <template v-if="type.behaviorsTypeName">
                        <span class="float-end">
                          <span
                            class="badge bg-custom-code"
                            v-if="type.behaviorsKind == 'custom'"
                          >
                            Dedicated Custom Behaviors
                          </span>
                          <span
                            class="badge bg-custom-code"
                            v-if="type.behaviorsKind == 'custom-fallback'"
                          >
                            Fallback Custom Behaviors
                          </span>
                          <span
                            class="badge bg-stock"
                            v-if="type.behaviorsKind == 'default'"
                          >
                            Coalesce Standard Behaviors
                          </span>
                        </span>
                        <h4 class="card-title mb-0">Behaviors</h4>
                        <small class="text-break text-muted mb-4 d-block px-1">
                          {{type.behaviorsTypeName}}
                        </small>
                      </template>

                      <h4 class="card-title">Data Sources</h4>
                      <table class="table table-sm table-hover">
                        <tbody>
                          <tr v-for="ds in type.dataSources">
                            <td>
                              <span class="float-end">
                                <span
                                  class="badge bg-custom-code"
                                  v-if="ds.kind == 'custom'"
                                >
                                  Dedicated Custom DS
                                </span>
                                <span
                                  class="badge bg-custom-code"
                                  v-if="ds.kind == 'custom-fallback'"
                                >
                                  Fallback Custom DS
                                </span>
                                <span
                                  class="badge bg-stock"
                                  v-if="ds.kind == 'default'"
                                >
                                  Coalesce Standard DS
                                </span>
                              </span>

                              <strong class="text-break">
                                {{ds.names.join(', ')}}
                                <span
                                  v-if="ds.isDefault"
                                  class="badge bg-secondary"
                                  title="This data source will be used when the client does not specify a data source."
                                >
                                  Default
                                </span>
                              </strong>
                              <br />
                              <small class="text-muted text-break">
                                {{ds.className}}
                              </small>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>

                  <div class="card mb-4" v-if="type.methods.length">
                    <div class="card-body">
                      <h4 class="card-title">Methods</h4>
                      <methods-table :methods="type.methods"></methods-table>
                    </div>
                  </div>
                </div>

                <div class="col" style="flex-basis: 450px">
                  <div class="card mb-4">
                    <div class="card-body">
                      <h4 class="card-title" v-if="type.dtoBaseType">
                        Manually Mapped Properties
                      </h4>
                      <h4 class="card-title" v-else>
                        Generated DTO Properties
                      </h4>

                      <properties-table
                        :type="type"
                        :is-crud="true"
                      ></properties-table>

                      <div
                        v-if="type.dtoBaseType"
                        class="caption small mt-3 text-muted"
                      >
                        NOTE: Filtering, sorting, and searching are performed
                        against
                        <type-display :member="type.dtoBaseType"></type-display
                        >'s properties and property security attributes (unless
                        overridden in a custom data source).
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col" style="flex-basis: 450px; max-width: 700px">
                  <div class="card mb-4">
                    <div class="card-body">
                      <h4 class="card-title">Usages</h4>
                      <usages-table :usages="type.usages"></usages-table>
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <section
              v-for="type in serviceTypes"
              class="mb-5"
              :id="'type-' + type.name"
            >
              <h1>
                {{type.name}}
                <small class="text-muted">/api/{{type.route}}</small>
              </h1>

              <div class="row">
                <div class="col" style="flex-basis: 450px; max-width: 700px">
                  <div class="card mb-4">
                    <div class="card-body">
                      <h4 class="card-title">Methods</h4>
                      <methods-table :methods="type.methods"></methods-table>
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <section
              v-for="type in externalTypes"
              class="mb-5"
              :id="'type-' + type.name"
            >
              <h1>{{type.name}}</h1>

              <div class="row">
                <div class="col" style="flex-basis: 450px; max-width: 700px">
                  <div class="card mb-4">
                    <div class="card-body">
                      <h4 class="card-title">Generated DTO Properties</h4>
                      <properties-table
                        :type="type"
                        :is-crud="false"
                      ></properties-table>
                    </div>
                  </div>
                </div>

                <div class="col" style="flex-basis: 450px; max-width: 700px">
                  <div class="card mb-4">
                    <div class="card-body">
                      <h4 class="card-title">Usages</h4>
                      <usages-table :usages="type.usages"></usages-table>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>

    <script type="text/html" id="usages-table">
      <div v-if="!usages.length" class="text-muted">
        No references from other types
      </div>
      <table v-else class="table table-sm table-hover">
        <thead>
          <tr>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="usage in usages">
            <td class="text-break">
              <type-display :member="usage.type"></type-display>
              <span v-if="usage.property">
                <strong>.{{usage.property.name}} </strong>
                <small> &nbsp; {{usage.property.type.display}} </small>
              </span>
              <span v-else-if="usage.method">
                <span>.{{usage.method.name}}</span>(<template
                  v-for="(param, idx) in usage.method.parameters"
                >
                  <span v-if="idx > 0">, </span>
                  <span
                    :class="usage.parameter == param.name ? 'fw-bold' : 'text-muted small'"
                  >
                    {{param.type.display}} {{param.name}}
                  </span> </template
                >) =>
                <span :class="usage.isReturn ? 'fw-bold' : 'text-muted small'">
                  {{usage.method.return.display}}
                </span>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </script>

    <script type="text/html" id="methods-table">
      <table class="table table-sm table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Execute</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="method in methods">
            <td>
              <strong class="text-break">{{method.name}}</strong>
              <br />
              <small>
                (<template v-for="(param, idx) in method.parameters">
                  <span v-if="idx > 0">, </span>
                  <type-display :member="param.type"></type-display>
                  {{param.name}} </template
                >) => <type-display :member="method.return"></type-display>
              </small>
            </td>
            <td>
              <security-badge :action="method.execute"></security-badge>
            </td>
          </tr>
        </tbody>
      </table>
    </script>

    <script type="text/html" id="properties-table">
      <table class="table table-sm table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th
              class="text-center"
              width="100px"
              title="Security rules for any place that this entity is served in a response to the client."
            >
              Read
            </th>
            <template v-if="isCrud">
              <th
                class="text-center"
                width="100px"
                title="Security rules for Create saves, and usage as a custom method parameter."
              >
                Create
              </th>
              <th
                class="text-center"
                width="100px"
                title="Security rules for Edit saves."
              >
                Edit
              </th>
            </template>
            <th
              v-else
              width="100px"
              title="Security rules for any place that this type is provided as an input to the server."
            >
              Write
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="prop in type.properties">
            <td>
              <strong class="text-break">{{prop.name}}</strong>
              <br />
              <small>
                <type-display :member="prop.type"></type-display>
              </small>
            </td>
            <template v-if="type.dtoBaseType">
              <td v-for="i in 3" class="text-center">
                <span class="badge bg-custom-code">Custom</span>
              </td>
            </template>
            <template v-else>
              <td class="text-center">
                <security-badge
                  :action="prop.read"
                  :restrict="prop.restrictions"
                ></security-badge>
              </td>
              <td class="text-center">
                <security-badge
                  :action="prop.init"
                  :restrict="prop.restrictions"
                ></security-badge>
                <div
                  v-if="prop.isPrimaryKey && !prop.isCreateOnly"
                  class="text-muted"
                  title="The property is the primary key. &#013;&#013;During a save, its absence is what triggers a Create save. &#013;As a custom method parameter, it is mapped like any other property."
                >
                  <small>🔑 PK</small>
                </div>
                <div
                  v-if="prop.isPrimaryKey && prop.isCreateOnly"
                  class="text-muted"
                  title="The property is the primary key. &#013;&#013;During a save, an existing entity with this key will be looked up in the database, and the absence of a match is what triggers a Create save. &#013;As a custom method parameter, it is mapped like any other property."
                >
                  <small>🔑 PK</small>
                </div>
              </td>
              <td class="text-center" v-if="isCrud">
                <security-badge
                  :action="prop.edit"
                  :restrict="prop.restrictions"
                ></security-badge>
                <div
                  v-if="prop.isPrimaryKey"
                  class="text-muted"
                  title="The property is the primary key. &#013;&#013;During an Edit, it is used to look up the existing entity to edit."
                >
                  <small>🔑 PK</small>
                </div>
              </td>
            </template>
          </tr>
        </tbody>
      </table>
    </script>

    <script type="text/html" id="type-display">
      <span>
        <a v-if="member.linkedType" :href="'#type-' + member.linkedType">
          {{member.display}}
        </a>
        <span v-else class="text-muted"> {{member.display}} </span>
      </span>
    </script>

    <script type="text/html" id="security-badge">
      <span>
        <span
          v-if="action.noAccess"
          class="badge border border-danger text-body"
          :title="action.reason"
        >
          Deny
        </span>
        <span
          v-else
          class="badge"
          :class="
            action.isUnused ? 'border text-body' : 
            action.allowAnonymous ? 'bg-danger' : 
            !action.hasRoles ? 'bg-success' : 
            'bg-success'"
          :title="
              ('Allow' + (action.allowAnonymous === false ? ' Authenticated' : action.allowAnonymous === true ? ' Anonymous' : '')) + ' - ' +
              (!action.hasRoles 
                ? 'No specific role requirements' 
                : action.roleLists.length == 1 
                  ? 'One of these roles is required: \n' + action.roleLists[0].join('\n')
                  : 'One role from each role group is required: \n' + action.roleLists.map(rl => 'Role Group: ' + rl.join(', ')).join('\n')
              ) +
              (!restrict?.length ? '' : '\n\nThe following custom restrictions are applied: \n' + restrict.join('\n')) +
              (action.isUnused ? '\n\nAnalyzed as unused by any API endpoint.' : '')
            "
        >
          <template v-if="action.isUnused"> Unused </template>
          <template v-else>
            Allow {{(action.allowAnonymous === false ? ' Authenticated' :
            action.allowAnonymous === true ? ' Anonymous' : '')}}
          </template>
          <div v-if="action.roleLists.length" class="fw-normal text-start">
            <div v-for="rl in action.roleLists">{{rl.join(', ')}}</div>
          </div>
          <div v-if="restrict?.length" class="fw-normal text-start">
            <div v-for="restriction in restrict">
              <span class="badge bg-custom-code mt-1" style="font-size: 0.8em"
                >{{restriction}}</span
              >
            </div>
          </div>
        </span>
      </span>
    </script>

    <script src="https://unpkg.com/vue@3.3.8/dist/vue.global.js"></script>

    <script>
      const app = Vue.createApp({
        data() {
          // DATA is injected by the route handler that serves this content.
          return { ...DATA, theme: getTheme(), setTheme };
        },
        mounted() {
          // Scroll to hash after page load - this won't otherwise happen since there's a delay in mounting the vue app.
          // setTimeout(() => {
          //   const hash = window.location.hash;
          //   if (hash)
          //     document
          //       .getElementById(hash.replace("#", ""))
          //       .scrollIntoView({ behavior: "instant" });
          // }, 100);
        },
      });
      app.component("security-badge", {
        template: "#security-badge",
        props: ["action", "restrict"],
      });
      app.component("methods-table", {
        template: "#methods-table",
        props: ["methods"],
      });
      app.component("properties-table", {
        template: "#properties-table",
        props: ["type", "isCrud"],
      });
      app.component("usages-table", {
        template: "#usages-table",
        props: ["usages"],
        methods: {
          getMethod(type, methodName) {
            return [...DATA.crudTypes, ...DATA.serviceTypes]
              .filter((t) => t.name == type)
              .reduce((p, c) => [...p, ...c.methods], [])
              .filter((m) => m.name == methodName)[0];
          },
        },
      });
      app.component("type-display", {
        template: "#type-display",
        props: ["member"],
      });
      app.directive("tooltip", {
        mounted(el, binding) {
          new bootstrap.Tooltip(el, {
            title: binding.value,
            placement: binding.arg ?? "top",
            html: binding.modifiers.html ?? false,
            container: el.parentElement,
          });
        },
        unmounted(el, binding) {
          var tooltip = bootstrap.Tooltip.getInstance(el);
          tooltip?.dispose();
        },
      });
      app.mount("#app");

      // https://css-tricks.com/sticky-table-of-contents-with-scrolling-active-states/
      const observer = new IntersectionObserver((entries) => {
        entries.forEach((entry) => {
          const id = entry.target.getAttribute("id");
          if (entry.intersectionRatio > 0) {
            document
              .querySelector(`nav a[href="#${id}"]`)
              .classList.add("active");
          } else {
            document
              .querySelector(`nav a[href="#${id}"]`)
              .classList.remove("active");
          }
        });
      });

      // Track all sections that have an `id` applied
      document.querySelectorAll("section[id]").forEach((section) => {
        observer.observe(section);
      });
    </script>
  </body>
</html>
