# Suppress: EC112

[*.{vue,ts,js,scss,html,csproj,md,props,targets,yml}]
indent_style = space
indent_size = 2


[*.cs]

# RCS1036: Remove redundant empty line.
dotnet_diagnostic.RCS1036.severity = none

# RCS1037: Remove trailing white-space.
dotnet_diagnostic.RCS1037.severity = none

# RCS1160: Abstract type should not have public constructors.
dotnet_diagnostic.RCS1160.severity = none

# RS1024: Compare symbols correctly
dotnet_diagnostic.RS1024.severity = suggestion

# RCS1090: Call 'ConfigureAwait(false)'.
dotnet_diagnostic.RCS1090.severity = none

# TUnit0001: Test argument types don't match method parameters
# https://github.com/thomhurst/TUnit/issues/4812
dotnet_diagnostic.TUnit0001.severity = silent
