@page "/forgot-password"
@model Coalesce.Starter.Vue.Web.Pages.ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot password";
}

@if (Model.Success)
{
    <p>Please check your email to reset your password.</p>
}
else
{
    <form method="post" class="d-grid gap-2 mt-3">
        <div>
            <label asp-for="Username" class="form-label"></label>
            <input asp-for="Username" class="form-control" autocomplete="username" required />
        </div>

        <div asp-validation-summary="All" class="text-danger"></div>

        <button type="submit" class="btn btn-primary rounded-pill">Reset Password</button>
    </form>
}
