@page "/reset-password"
@using Microsoft.AspNetCore.Identity
@using Microsoft.Extensions.Options
@inject IOptions<IdentityOptions> identityOptions
@model Coalesce.Starter.Vue.Web.Pages.ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
    int passwordMinlength = identityOptions.Value.Password.RequiredLength;
}

@if (Model.Success)
{
    <p>Your password has been changed.</p>

    <form method="get" action="/sign-in" class="d-grid mt-3">
        <button type="submit" class="btn btn-primary">
            Sign in
        </button>
    </form>
}
else
{
    <form method="post" class="d-grid gap-2 mt-3">
        <div>
            <label asp-for="Password" class="form-label"></label>
            <input asp-for="Password" class="form-control" autocomplete="new-password" required minlength="@passwordMinlength" />
            <div id="emailHelp" class="form-text">Passwords must be at least @passwordMinlength characters.</div>
        </div>
        <div>
            <label asp-for="ConfirmPassword" class="form-label"></label>
            <input asp-for="ConfirmPassword" class="form-control" autocomplete="new-password" required />
        </div>

        <div asp-validation-summary="All" class="text-danger"></div>

        <button type="submit" class="btn btn-primary rounded-pill">Reset</button>
    </form>
}
