@page
@model Coalesce.Web.Vue.Pages.TestPageModel
@{
}

<!DOCTYPE html>
<html>

<head>
    <title>Test Page</title>
</head>

<body>
    <h1>Test Razor Page</h1>
    <p>This is a test page.</p>
</body>

</html>