body {
    padding-top: 60px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Limit the size of a date in a grid */
td div.input-group.date {
    max-width:200px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/* Set height of Select 2 to make it the same as bootstrap  */
span.select2-container span.select2-selection--single {
    height: 34px;
}

span.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 33px;
}

span.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 30px;
}


dd:not(:last-of-type) {
    padding-bottom: 10px;
}
dd > .form-control-static,
dd > div > .form-control-static {
    padding-top: 0;
    padding-bottom: 0;
    min-height: 15px;
}

.comma-list {
    list-style: none;
    padding-left: 0;

    li {
        display: inline;

        &:not(:last-of-type)::after {
            content: ', '
        }
    }
}

.flex-card-container {
     display: flex;
     flex-flow: row wrap;
     justify-content: space-between;
     align-items: stretch
}

.card {
    margin: 10px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
        
    .card-body {
        padding: 15px;
        flex-grow: 1;
    }

    .card-body:before,
    .card-body:after {
        display: table;
        content: " ";
    }

    .card-body:after {
        clear: both;
    }

    > .table {
        margin-bottom: 0;
    }

    > .card-body + .table {
        border-top: 1px solid #dddddd;
    }

    .card-heading {
        padding: 10px 15px;
        border-bottom: 1px solid #dddddd;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
    }

    .card-title {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 20px;
    }

    .card-title > a {
        color: inherit;
    }
}


.flex-card {
    @extend .card;

    flex-grow: 1;
    width: 300px;
    display: flex;
    flex-direction: column;

    .card-body.flex {
        display: flex;
        flex-direction: column;
    }
}
