@using Intellitect.ComponentModel.Helpers
@using Intellitect.ComponentModel.Models
@using Coalesce.Domain
@{
    ViewBag.Title = "Test Person";
}
<div class="container">

    <div  style="display:none;" class="alert alert-warning" data-bind="fadeVisible: isDirty" role="alert">Oh Snap</div></div>


    <h2 data-bind="text: name"></h2>
    <input type="text" data-bind="value: firstName" />
    @*@TableHelper.Create(Table.Create<Person>().AddDefaultColumns())*@
    <div style="display:none;" data-bind="visible: isLoading()">Loading...</div>

    <button class="btn btn-success" data-bind="click: save">Save</button>
    <br />

    @Knockout.Checkbox("isSelected")
    <div data-bind="fadeVisible: isSelected">selected</div>

    @(Knockout.SelectWithLabelForObject<Person>(f=>f.Company).AddFormGroup())
    <div data-bind="with: company">
        <input type="text" data-bind="value: city" />
    </div>

    <button class="btn btn-default" data-bind="click: showEditor">Edit</button>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: casesAssigned">
            <tr>
                <td data-bind="text: title"></td>
                <td>
                    @(Knockout.InputFor<Case>(p => p.Description))
                </td>
                <td>
                    <button class="btn btn-default" data-bind="click: showEditor">Edit</button>
                    
                </td>
            </tr>
        </tbody>
    </table>
@section Scripts

{
    <script src="~/js/persontest.js"></script>

}
</div>