<div class="row">
    <div class="col-md-12" data-bind="with: person">
        <div>First Name: <span data-bind="text: firstName"></span></div>
        <div>Last Name: <span data-bind="text: lastName"></span></div>
        <div>Email Address: <span data-bind="text: email"></span></div>
    </div>
</div>
@section Scripts
{
<script src="~/js/people.index.js"></script>
}