html.dark {
  --c-warning-bg: #6a4b16;
  --c-warning-title: #fff4ce;
  --c-warning-text: #e6e6e6;

  --c-danger-bg: #5a0001;
  --c-danger-title: #fde7e9;
  --c-danger-text: #e6e6e6;

  .custom-container a {
    color: var(--c-text-accent);
  }

  code {
    color: #e6e6e6;
  }
}

code {
  padding: 0.1em 0.2em;
}

body {
  .sidebar-item:not(.sidebar-heading) {
    padding: 0.15rem 1rem 0.15rem 2rem;
  }
  .sidebar-item.sidebar-heading {
    
    padding: 0.50rem 1.5rem 0.10rem 1.25rem;
  }
  .sidebar .sidebar-items {
    padding-top: .5rem;
    padding-bottom: 5rem;
  }

  .wide-page .page .theme-default-content {
    // Check the vue2-to-vue3 page when changing this value.
    max-width: 1700px !important;
  }

  // For table cells that contain only code, remove cell padding:
  td:has(> div[class*=language-]:only-child:not(.line-numbers-mode)) {
    > div {
      background-color: transparent !important;

      &:before {
        top: 0;
        right: 0.5em
      }
    }
    padding: 0;
    .shiki {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}