html.dark {
  --c-warning-bg: #6a4b16;
  --c-warning-title: #fff4ce;
  --c-warning-text: #e6e6e6;

  --c-danger-bg: #5a0001;
  --c-danger-title: #fde7e9;
  --c-danger-text: #e6e6e6;

  .custom-container a {
    color: var(--c-text-accent);
  }

  code {
    color: #e6e6e6;
  }
}

code {
  padding: 0.1em 0.2em;
}

body {
  .sidebar-item:not(.sidebar-heading) {
    padding: 0.15rem 1rem 0.15rem 2rem;
  }
  .sidebar-item.sidebar-heading {
    
    padding: 0.50rem 1.5rem 0.10rem 1.25rem;
  }
  .sidebar .sidebar-items {
    padding-top: .5rem;
    padding-bottom: 5rem;
  }
}