@{
    ViewBag.Title = "Coalesce Documentation";
    Layout = "_layout";
}

<div class="row" style="margin-top: 25px;">
    <div class="col-md-2">
        <div class="list-group" style="margin-top: 85px; font-size: .9em;">
            <div class="list-group-item disabled">
                <h4>Content</h4>
            </div>
            <a asp-controller="Docs" asp-action="Index" class="list-group-item">Overview</a>
            <a asp-controller="Docs" asp-action="GettingStarted" class="list-group-item">Getting Started</a>
            <a asp-controller="Docs" asp-action="Modeling" class="list-group-item">Modeling</a>
            <a asp-controller="Docs" asp-action="Annotations" class="list-group-item">Annotations</a>
            <a asp-controller="Docs" asp-action="CodeGeneration" class="list-group-item">Code Generation</a>
            <a asp-controller="Docs" asp-action="ExtensionPoints" class="list-group-item">Extension Points</a>
            <a asp-controller="Docs" asp-action="ServerViewModels" class="list-group-item">Server View Models</a>
            <a asp-controller="Docs" asp-action="ClientViewModels" class="list-group-item">Client View Models</a>
            <a asp-controller="Docs" asp-action="UiComponents" class="list-group-item">UI components</a>
            <a asp-controller="Docs" asp-action="Security" class="list-group-item">Security</a>
            <a asp-controller="Docs" asp-action="Troubleshooting" class="list-group-item">Troubleshooting</a>
            <a asp-controller="Docs" asp-action="NightlyBuilds" class="list-group-item">Nightly Builds</a>
            <a asp-controller="Docs" asp-action="BestPractices" class="list-group-item">Best Practices</a>
        </div>
    </div>
    <div class="col-md-10">
        <h1>Coalesce Documentation</h1>
        <hr />
        @RenderBody()
    </div>
</div>

