@{
    ViewBag.Title = "Coalesce";
    Layout = "_DocsLayout";
}

<h2>Future Enhancements</h2>
<ul>
    <li>Client side only validation</li>
    <li>Support for more types of validation</li>
    <li>For methods provide observables for arguments so they can be data bound easily.</li>
</ul>

