@{
    ViewBag.Title = "Coalesce";
    Layout = "_DocsLayout";
}

<h2>Getting Started</h2>
<h3>What do I do?</h3>
<p>
    You are responsible for the interesting parts of your application: 
</p>
<ul>
    <li>Data Model</li>
    <li>Business Logic</li>
    <li>External Integrations</li>
    <li>Page Content</li>
    <li>Site Design</li>
    <li>Custom Scripting</li>
</ul>

<h3>What is done for me?</h3>
<p>
    Coalesce builds the part of your application that are mundane and monotonous to build:
</p>
<ul>
    <li>Client side Knockout view models that mirror your data models. Both for collections and individual objects.</li>
    <li>APIs to expose your models with list, get, save, etc methods.</li>
    <li>Loads data into your view models singly or as a list.</li>
    <li>Saves changes to your view models automatically as they are made.</li>
    <li>Provides out-of-the-box bindings for common controls like strings, dates, objects via drop downs, enums, etc.</li>
    <li>Items like list boxes support searching and paging automatically.</li>
    <li>Grids can be built with two lines of code.</li>
    <li>A complete admin site is built allowing you to view and edit your data.</li>
</ul>

<h3>How do I get started?</h3>
<p>Coalesce is designed around productivity, so having an amazing development story is paramount. Here are the basic steps.</p>
<ol>
    <li>Create an ASP.NET 5 web application</li>
    <li>Create a data model using EF 7</li>
    <li>Install the Coalesce NuGet package</li>
    <li>Run the scaffolding command</li>
    <li>Run your site and check out the admin pages</li>
    <li>Start customizing</li>
    <li>Rerun the scaffolder when your model changes</li>
</ol>
    

<h3>Technologies</h3>
<p>Here is a short list of the technologies we are using behind the scenes. We have intentionally kept this as light as possible without rewriting existing functionality. The tooling used is all directly from Visual Studio. All the 3rd party tools require no royalties.</p>
<ul>
    <li>ASP.NET 5</li>
    <li>MVC 6</li>
    <li>Entity Framework 7</li>
    <li>C# 6</li>
    <li>TypeScript: all generated client-side code</li>
    <li>Bower: web packages</li>
    <li>Gulp: for build steps</li>
    <li>NPM: Gulp packages</li>
    <li>NuGet: .net packages</li>
    <li>Knockout: databinding</li>
    <li>Moment.js: time manipulation</li>
    <li>Bootstrap: core css for admin pages</li>
    <li>jQuery</li>
    <li>jQuery Validation</li>
</ul>

<h3>Source Control</h3>
<p>We have found it works best if the following folders are not checked in to source control.</p>
<ul>
    <li>wwwroot</li>
    <li>bower_components</li>
    <li>node_modules</li>
</ul>