@{
    ViewBag.Title = "Coalesce";
    Layout = "_DocsLayout";
}

<h2>Server View Models</h2>
<h3>Overview</h3>
<p>
    Coalesce uses an internal view model to represent your data model. These types are found in the Intellitect.ComponentModel.TypeDefinition namespace. Internally, these type definition classes use both Reflection via Types and Roslyn via Symbols. 
    </p>
<p>
    They are used with Roslyn during code generation and with reflection during runtime. They encapsulate much of the complexity of using the underlying technologies and present a consistent interface to the developer. 
</p>

<p>The type definition view models contain the following classes:</p>

<ul>
    <li>
        <b>ReflectionRepository:</b> Collection of all the ClassViewModels.
    </li>
    <li>
        <b>ClassViewModel:</b> Representation of classes of the DbSets in your Context.
    </li>
    <li>
        <b>PropertyViewModel:</b> Representation of properties on a ClassViewModel.
    </li>
    <li>
        <b>MethodViewModel:</b> Representation of methods on a ClassViewModel.
    </li>
    <li>
        <b>TypeViewModel:</b> Represents either a return value or parameter of a method or the type of a property.
    </li>
    <li>
        <b>ParameterViewModel:</b> Representation of a parameter of a MethodViewModel.
    </li>
</ul>

<p>
    These object are available using the following code.
</p>
<pre>
<code>ReflectionRepository.AddContext&lt;AppContext&gt;();</code>
</pre>

<h3>Enumerating Your Data Model</h3>
<p>It is easy to get meta data information about your view model. There are many convenience methods and properties to make accessing child elements easy. This is how the Display and Knockout helper extensions work behind the scenes.</p>
<pre>
<code>
    var objectVm = ReflectionRepository.GetClassViewModel&lt;Person&gt;();
    var propertyVm = objectVm.PropertyBySelector&lt;Person&gt;(p=>p.FirstName);
    Console.WriteLine(propertyVm.DisplayName);
</code>
</pre>
