@{
    ViewBag.Title = "Coalesce";
    Layout = "_DocsLayout";
}

<h2>Code Generation</h2>
<h3>UI Components</h3>

<p>
    User interfaces created with Coalesce are very flexible. From the pre-built admin screens, to various helpers, to straight HTML there is a way to easily construct your page. These helpers use Knockout and Bootstrap as the primary UI elements. Select2 and the Bootstrap Date Time Picker are used for select and date inputs respectively.
</p>
<p>
    Coalesce comes with a library of easy-to-use data binding helpers. These allow you to quickly create high-quality user experiences. These are found in the Intellitect.ComponentModel.Helpers name space.
</p>

<h3>Display</h3>
<p>The Display helper class has a high level method for displaying properties. When called, this method will return a display or an editor for the specified property. By default this uses attributes on the model to determine how to display the values. This internally uses the Knockout helper library.</p>

<h3>Knockout</h3>
<p>The Knockout helper class has a wide range of helpers to display different property types. They have many options for display, functionality, and responsive design. Most of them have several versions. </p>
<ul>
    <li>A pure version that is just the control. <code>TextInput</code></li>
    <li>A version that is combined with a label with spacing options. <code>TextInputWithLabel</code></li>
    <li>A version that is combined with a label and uses a property selector. <code>InputWithLabelFor&lt;Person&gt;(f=>f.FirstName)</code></li>
    <li>A pure version that uses a property selector. <code>InputFor&lt;Person&gt;(f=>f.FirstName)</code></li>
</ul>

<p>Some versions of the extensions take a PropertyViewModel. This is an internal type definition class that uses reflection to enumerate your object model.  See the Server View Models section for more information.</p>

<h3>Available Extensions</h3>
<p>The follow are general types of extensions provided.</p>
<ul>
    <li>Text input boxes</li>
    <li>Selection boxes for objects with dynamic search</li>
    <li>Selection boxes for many-to-many relationships</li>
    <li>Selection boxes for text input that search for existing values</li>
    <li>Selection boxes for enumerations</li>
    <li>Date input boxes that use a date and time picker</li>
    <li>Boolean selection check boxes</li>
    <li>Expand buttons for child view models </li>
    <li>Showing modified date in human readable time like '2 hours ago'</li>
    <li>Display of text, objects, and many-to-many data</li>
</ul>

<h4>Additional Helpers</h4>
<p>The AddFormGroup extension wraps your other helper calls in a Bootstrap Form Group.</p>
<p>AddLabel gets a Bootstrap formatted label</p>
<p>The Knockout class has two properties to control the default number of columns given to label and display/edit areas. They are: DefaultLabelCols and DefaultInputCols. </p>



