@using IntelliTect.Coalesce.Knockout.Helpers

@{ ViewBag.Fluid = true; }

<style>
    .card-view-header {
        padding: 10px 15px;
    }
    img.form-control-static {
        max-width: 100px;
        max-height: 100px;
    }
    .coalesce-upload-icon {
        cursor: pointer;
    }
</style>

<div class="card-view obj-product">
    <div class="card-view-header">
        <div class="clearfix">
            <h1 style="display: inline-block">
                Product List
                <span style="font-size: .5em; padding-left: 20px;"><a href="~/Product/Docs">API Docs</a></span>
            </h1>
        </div>
        <div class="clearfix">
            <div style="display: inline-block; font-size: 1.1em; margin-right: 10px;">
                <i class="fa fa-arrow-circle-left" data-bind="enabled: previousPageEnabled() && !isLoading(), click: previousPage"></i>
                Page
                <input data-bind="value: page" style="width: 35px">
                of
                <span data-bind="text: pageCount"></span>
                <i class="fa fa-arrow-circle-right" data-bind="enabled: nextPageEnabled() && !isLoading(), click: nextPage"></i>
            </div>
            <select class="form-control" style="width: 100px; display: inline-block;" data-bind="value: pageSize">
                <option value="1">1</option>
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="500">500</option>
                <option value="1000">1000</option>
            </select>
            <input class="form-control pull-right" style="width: 250px; margin-left: 20px" data-bind="textInput: search" placeholder="Search" />
            <div class="btn-group pull-right">
                <a href="~/Product/CreateEdit?@(ViewBag.Query)" role="button" class="btn btn-sm btn-default "><i class="fa fa-plus"></i> Create</a>
                <button data-bind="click:load" class="btn btn-sm btn-default "><i class="fa fa-refresh"></i> Refresh</button>
                <a href="#" role="button" class="btn btn-sm btn-default " data-bind="attr:{href: downloadAllCsvUrl}"><i class="fa fa-download"></i> CSV</a>
                <button role="button" class="btn btn-sm btn-default " data-bind="click: csvUploadUi"><i class="fa fa-upload"></i> CSV</button>
            </div>
        </div>
    </div>
    
    <hr />
    
    <div class="flex-card-container card-view-body" style="display: none" data-bind="foreach: items, visible: isLoaded">
        <div class="flex-card">
            <div class="card-heading">
                <h3 class="card-title">
                    <span data-bind="text: name"></span>
                </h3>
            </div>
            <div class="card-body flex">
                <dl>
                    <dt>Name</dt>
                    <dd>
                        @(Knockout.DisplayFor<Coalesce.Domain.Product>(p => p.Name, false))
                    </dd>
                    <dt>Details</dt>
                    <dd>
                        @(Knockout.DisplayFor<Coalesce.Domain.Product>(p => p.Details, false))
                    </dd>
                    <dt>Unique Id</dt>
                    <dd>
                        @(Knockout.DisplayFor<Coalesce.Domain.Product>(p => p.UniqueId, false))
                    </dd>
                </dl>
                
                <div style="margin-top: auto">
                    <!-- Editor buttons -->
                    <div class="pull-right" role="group">
                        <a class="btn btn-sm btn-default" data-bind="attr: { href: editUrl }">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <button class="btn btn-sm btn-danger" data-bind="click: deleteItemWithConfirmation">
                            <i class="fa fa-remove"></i>
                        </button>
                    </div>
                    <span class="form-control-static" data-bind="text: errorMessage"></span>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script>
        @if (!ViewBag.Editable)
        {
            @:Coalesce.GlobalConfiguration.viewModel.setupValidationAutomatically(false);
        }
        var productList = new ListViewModels.ProductList();
        
        // Set up parent info based on the URL.
        @if (ViewBag.Query != null)
        {
            @:productList.queryString = "@(ViewBag.Query)";
        }
        
        // Save and restore values from the URL:
        var urlVariables = ['page', 'pageSize', 'search', 'orderBy', 'orderByDescending'];
        $.each(urlVariables, function(){
            var param = Coalesce.Utilities.GetUrlParameter(this);
            if (param) {productList[this](param);}
        })
        productList.isLoading.subscribe(function(){
            var newUrl = window.location.href;
        
            $.each(urlVariables, function(){
                var param = productList[this]();
                newUrl = Coalesce.Utilities.SetUrlParameter(newUrl, this, param);
            })
            history.replaceState(null, document.title, newUrl);
        });
        
        productList.isSavingAutomatically = false;
        ko.applyBindings(productList);
        productList.isSavingAutomatically = true;
        
        productList.includes = "ProductListGen";
        productList.load();
    </script>
}
