<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/bootstrap-theme.css" />
    <link rel="stylesheet" href="~/Content/dynamic.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>
    <body>
        <div class="container">
            @RenderBody()
        </div>
        
        

        <!-- Scripts Section -->
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>
        <script src="~/lib/knockout/knockout.js"></script>
        <script src="~/lib/knockout-validation/knockout.validation.js"></script>
        <script src="~/lib/moment/moment.js"></script>
        <script src="~/js/komoment.js"></script>
        <!-- Page Scripts -->
        @RenderSection("Scripts", false)
    </body>

</html>
