<script src="https://unpkg.com/vue@3"></script>
<link
href=https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css
rel=stylesheet crossorigin=anonymous>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
  crossorigin="anonymous"
></script>

<div id="app">
  <div v-for="type in types.crudTypes" class="container mb-5">
    <h1>
      {{type.name}}
      <small class="text-muted">/api/{{type.route}}</small>
    </h1>
    <div class="row">
      <div
        class="col"
        v-for="{action, subtitle} in [
          {action: type.read, subtitle: '/get, /list, /count'}, 
          {action: type.create, subtitle: '/save'},
          {action: type.edit, subtitle: '/save'}, 
          {action: type.delete, subtitle: '/delete'}
        ]"
      >
        <div class="card mb-4">
          <!-- :class="action.allowAnonymous ? 'border-warning' : action.noAccess ? 'border-danger' : 'border-success'" -->
          <div class="card-body">
            <h4 class="card-title">
              {{action.name}}
              <small class="text-muted float-end">{{subtitle}}</small>
            </h4>
            <p class="card-text">
              <security-badge :action="action"></security-badge>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="card mb-4">
          <div class="card-body">
            <h4 class="card-title">Generated DTO Properties</h4>
            <table class="table table-sm table-hover">
              <thead>
                <tr>
                  <th>Name</th>
                  <th width="100px">Read</th>
                  <th width="100px">
                    <!-- <abbr v-tooltip="'Primarily controlled by the [Edit] attribute'">Write</abbr> -->
                    Write
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="prop in type.properties">
                  <td>{{prop.name}}</td>
                  <td v-for="action in [prop.read, prop.edit]">
                    <security-badge :action="action"></security-badge>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col ">
        <div class="card mb-4">
          <div class="card-body">
            <h4 class="card-title">Methods</h4>
            <table class="table table-sm table-hover">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Execute</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="method in type.methods">
                  <td>
                    <strong>{{method.name}}</strong>
                    <br />
                    <small class="text-muted"
                      >{{method.httpMethod.toUpperCase()}}</small
                    >
                  </td>
                  <td>
                    <security-badge :action="method.execute"></security-badge>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card mb-4">
          <div class="card-body">
            <h4 class="card-title">Data Sources</h4>
            <table class="table table-sm table-hover">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Parameters</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="ds in type.dataSources">
                  <td>
                    <strong :title="ds.fullyQualifiedName">
                      {{ds.name}}
                      <span v-if="ds.isDefault" class="badge bg-secondary"
                        >Default</span
                      >
                    </strong>
                    <br />
                    <small class="text-muted"
                      >{{ds.fullyQualifiedName}}</small
                    >
                  </td>
                  <td>
                    {{ds.parameters.map(p => p.name).join(', ')}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <template v-for="type in types.serviceTypes">
    <div class="container">
      <h1>
        {{type.name}}
        <small class="text-muted">/api/{{type.route}}</small>
      </h1>
      
      <div class="row">

        <div class="col ">
          <div class="card mb-4">
            <div class="card-body">
              <h4 class="card-title">Methods</h4>
              <table class="table table-sm table-hover">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Execute</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="method in type.methods">
                    <td>
                      <strong>{{method.name}}</strong>
                      <br />
                      <small class="text-muted"
                        >{{method.httpMethod.toUpperCase()}}</small
                      >
                    </td>
                    <td>
                      <security-badge :action="method.execute"></security-badge>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </template>
</div>

<script type="text/x-template" id="security-badge">
  <span>
    <span v-if="action.noAccess" class="badge border border-danger text-dark">
      Deny
    </span>
    <span v-else-if="action.allowAnonymous" class="badge bg-danger">
      Allow Anonymous
    </span>
    <span v-else class="badge bg-success">
      Allow {{'allowAnonymous' in action ? 'Authenticated' : ''}}
      <div v-if="action.roleList.length" class="fw-normal text-start">
        {{action.roles}}
        <!-- <span v-for="role in action.roleList" class="badge mr-1 mt-1 bg-secondary" style="font-size: 0.7em">
          {{role}}
        </span> -->
      </div>
    </span>
  </span>
</script>

<script>
  fetch("/Home/SecurityOverview")
    .then((r) => r.json())
    .then((r) => {
      const SecurityBadge = Vue.defineComponent({
        template: "#security-badge",
        props: ["action"],
      });

      const app = Vue.createApp({
        data() {
          return {
            types: r,
          };
        },
      });
      app.component("security-badge", SecurityBadge);
      app.directive("tooltip", {
        mounted(el, binding) {
          new bootstrap.Tooltip(el, {
            title: binding.value,
            placement: binding.arg ?? "top",
            html: binding.modifiers.html ?? false,
            container: el.parentElement,
          });
        },
        unmounted(el, binding) {
          var tooltip = bootstrap.Tooltip.getInstance(el);
          tooltip?.dispose();
        },
      });
      app.mount("#app");
    });
</script>
