@{
    Layout = "_Layout";
    ViewBag.Title = "Get Coalesce";
}
<div class="container">
    <h1>Get Coalesce</h1>
    <h3>Here are two ways you can get started with Coalesce:</h3>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-github-square fa-2x" aria-hidden="true"></i> Clone our starter project from GitHub </h3>
        </div>
        <div class="panel-body">
            <ol>
                <li>Head over to <a href="https://github.com/IntelliTect/Coalesce.Starter">https://github.com/IntelliTect/Coalesce.Starter</a></li>
                <li>Click the "Clone or download" button</li>
                <li>Clone the repository</li>
                <li>Run <code>RenameProject.ps1</code> to rename the solution files and code namespaces to your desired project name</li>
                <li>At this point, you can open up Visual Studio and run the application</li>
                <li>Optional: Delete the <code>.git</code> folder so you can initialize your own source code control</li>
            </ol>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-chevron-right fa-2x" aria-hidden="true"></i> Use templates with the dotnet CLI</h3>
        </div>
        <div class="panel-body">
            <ol>
                <li>Decide if you want to set up a Knockout or a Vue project</li>
                <li>Open a command prompt that is aware of the dotnet CLI (PowerShell or Visual Studio Developer Command Prompt)</li>
                <li>
                    Install the project template of your choice. <i>(You will not need to do this every time you want to start a new Coalesce project)</i>
                    <pre>
CMD> dotnet new install IntelliTect.Coalesce.KnockoutJS.Template
</pre>
                    For Vue:
                    <pre>
CMD> dotnet new install IntelliTect.Coalesce.Vue.Template
</pre>
                </li>
                <li>Make a new folder and change directory to it in your command prompt</li>
                <li>
                    Generate a project!  For Knockout, run:
                    <pre>CMD> dotnet new coalesceko [-n Optional.Name]</pre>
                    or for Vue, run:
                    <pre>CMD> dotnet new coalescevue [-n Optional.Name]</pre>
                    If you don't specify a name, the template will infer one from the name of the folder you are in.
                </li>
            </ol>
        </div>
    </div>


</div>
