body {
    padding-bottom: 20px;
    background-color: #F8F8F8 !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Limit the size of a date in a grid */
td div.input-group.date {
    max-width:200px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/* Set height of Select 2 to make it the same as bootstrap  */
span.select2-container span.select2-selection--single {
    height: 34px;
}

span.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 33px;
}

span.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 30px;
}

.select2-container {
    width: 100% !important;
}


.comma-list {
    list-style: none;
    padding-left: 0;

    li {
        display: inline;

        &:not(:last-of-type)::after {
            content: ', '
        }
    }
}

.flex-panel-container {
     display: flex;
     flex-flow: row wrap;
     justify-content: space-between;
     align-items: stretch
}

.flex-panel {
    flex-grow: 1;
    width: 300px;
    margin: 10px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    
    .panel-body {
        padding: 15px;
    }

    .panel-body:before,
    .panel-body:after {
        display: table;
        content: " ";
    }

    .panel-body:after {
        clear: both;
    }

    > .table {
        margin-bottom: 0;
    }

    > .panel-body + .table {
        border-top: 1px solid #dddddd;
    }

    &.panel-default > .panel-heading {
        color: #333333;
        background-color: white;
        border-color: #dddddd;
    }

    .panel-heading {
        padding: 10px 15px;
        border-bottom: 1px solid #dddddd;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
    }

    .panel-title {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 20px;
    }

    .panel-title > a {
        color: inherit;
    }
}





@import "IntelliTectTheme.scss";