@using Intellitect.ComponentModel.TypeDefinition
@{
    Layout = "_Layout";
    ViewBag.Title = "Generated Views";
}
<div class="container">
    <h2>Sample models that have automatic View and Edit/Create pages.</h2>
    <p>These pages are create by Coalesce based on your models and data annotations.</p>
    <ul>
        @foreach (var vm in ReflectionRepository.Models.Where(f=>f.HasDbSet))
        {
            <li><a asp-action="Table" asp-controller="@vm.Name">@vm.DisplayName</a></li>
        }
    </ul>
</div>