@using IntelliTect.Coalesce.TypeDefinition
@{
    Layout = "_Layout";
    ViewBag.Title = "Get Coalesce";
}
<div class="container">
    <h1>Get Coalesce</h1>
    <h3>Here's how you can get started with coalesce:</h3>

    <ol>
        <li>Check out the <a href="https://github.com/IntelliTect/Coalesce.Starter/blob/master/README.md">Starter Template</a> on GitHub.</li>
        <li>Or just include the <a href="https://www.myget.org/feed/Packages/intellitect-coalesce">Nuget packages</a> in your project. <small>(See the <a href="https://github.com/IntelliTect/Coalesce.Starter/">Starter Template</a> for configuration hints).</small> </li>
    </ol>
</div>