@using IntelliTect.Coalesce.TypeDefinition
@{
    Layout = "_Layout";
    ViewBag.Title = "Get Coalesce";
}
<div class="container">
    <h1>Get Coalesce</h1>
    <h3>Here's how you can get started with coalesce:</h3>

    <ol>
        <li>Wait until this page is updated with information on how to get Coalesce.</li>
    </ol>
</div>