@{
    Layout = "_Layout";
    ViewBag.Title = "Coalesce";
}

<style>
    .centered-button{
        margin: 10px auto;
        display: block;
        width: 250px;
    }
</style>


<div class="jumbotron">
    <h1>Coalesce</h1>
    <h2>Bringing web technologies together</h2>
    <p>
        Coalesce is a rapid-development <br />
        <span style="font-weight:bold;">ASP.NET 5 - MVC 6 - EF 7 - TypeScript</span> framework <br />
        Designed to help you quickly build amazing web sites
    </p>
</div>


<div class="" style="margin-left: 200px; margin-right: 200px;">
    <p>Have you ever thought "If I have to build the API, JavaScript bindings, and ViewModel for one more drop down box I am going to ...?" But you want to make great sites, so you do it. </p>
    <p>Coalesce is here to build the mundane parts of your site that users have come to expect. Do you want all your pages to support AJAX postbacks for saving, paged dropdown for all select boxes, word suggestions based on past entries, simple data binding, grid helpers that support viewing and editng, and more?</p>
</div>
<br />

<hr />
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3>Are you excited to...</h3>
            </div>
            <div class="panel-body">
                <ul>
                    <li>Spend time creating code that does cool things</li>
                    <li>Quickly knock out new pages with first class functionality</li>
                    <li>Create models that represent the problem space</li>
                    <li>Use an open ended tool that doesn't box you in</li>
                </ul>
            </div>
        </div>
        </div>
    <div class="col-md-6">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3>Are you tired of...</h3>
            </div>
            <div class="panel-body">
                <ul class="">
                    <li>Building pass-through APIs to match your models</li>
                    <li>Slaving over simple View Models</li>
                    <li>Creating paging and searchable drop downs for the 10th time</li>
                    <li>Securing  the front and back end of your app</li>
                </ul>
            </div>
        </div>    
    </div>
</div>

<h2 class="width: 100%; text-center">If so, Coalesce may be for you!</h2>

<hr />

<p>Coalesce comes with documentation and samples to help you get started quickly</p>

<hr />

<div style="width:100%">
    <a asp-controller="Docs" asp-action="Index" class="btn btn-lg btn-success centered-button">Learn More</a>
    <a asp-controller="Demo" asp-action="Index" class="btn btn-lg btn-success centered-button" >Check out the Sample</a>
    <a asp-controller="Home" asp-action="Generated" class="btn btn-lg btn-success centered-button">See the Generated Views</a>
</div>

