@{
    Layout = "_Layout";
    ViewBag.Title = "Coalesce";
    ViewBag.BodyClass = "home";
}


<style>
    .centered-button{
        margin: 10px auto;
        display: block;
        width: 250px;
    }
</style>

<div class="home-panel main-panel">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>
                    Coalesce
                    <a href="http://www.intellitect.com/" class="intellitect-logo-text">
                        <span style="font-size: 0.8em"> by</span> <span>IntelliTect</span>
                    </a>
                </h1>
                <h2>Bringing web technologies together</h2>
            </div>
            <div class="col-md-6">
                Designed to help you quickly build amazing sites, Coalesce is a rapid-development framework for
                <br />
                <br />
                <ul style="list-style: disc; font-size: 24px; font-weight: lighter">
                    <li>ASP.NET Core 1.0</li>
                    <li>MVC Core 1.0</li>
                    <li>EF Core 1.0</li>
                    <li>TypeScript</li>
                </ul>
                <br />
                
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a asp-controller="Docs" asp-action="Index" class="btn btn-lg btn-default centered-button">Learn More</a>
            </div>
            <div class="col-md-4">
                <a asp-controller="Demo" asp-action="Index" class="btn btn-lg btn-default centered-button">Check out the Sample</a>
            </div>
            <div class="col-md-4">
                <a asp-controller="Home" asp-action="Generated" class="btn btn-lg btn-default centered-button">See the Generated Views</a>
            </div>
        </div>

    </div>
</div>

<div class="home">

    <div class="home-panel four-cols">
        <div class="container">
        <div class="row">
            <h3>Coalesce Helps You...</h3>
            <div class="item ">
                <p>
                    Get Started Fast
                </p>
                <small>
                    Quickly knock out new pages with first class functionality. Security is built-in and easy to use.
                </small>
            </div>

            <div class="item ">
                <p>
                    Be Concise
                </p>
                <small>
                    Create models that accurately represent the problem space, avoiding all the extra clutter and overhead.
                </small>
            </div>

            <div class="clearfix visible-md visible-sm"></div>

            <div class="item ">
                <p>
                    Stay Agile
                </p>
                <small>
                    Coalesce is an open ended tool that doesn't box you in. You're free to modify anything and everything after it's generated.
                </small>
            </div>
            <div class="item ">
                <p>
                    Have Fun
                </p>
                <small>
                    Spend less time on boilerplate and more time writing interesting code. No more re-engineering a dropdown menu every time you need one.
                </small>
            </div>
        </div>
    </div>
    </div>

    <div class="home-panel three-cols">
        <div class="container">
        <div class="row">
            <h3>Features</h3>
            <div class="item ">
                <p>
                    AJAX postbacks for saving
                </p>
                <small>
                    Lorem Ipsum please put some text here!
                </small>
            </div>
            <div class="item ">
                <p>
                    Paged Dropdowns
                </p>
                <small>
                    ...for all select boxes!
                </small>
            </div>
            <div class="item ">
                <p>
                    Wow look at me I'm another feature!
                </p>
                <small>
                    Lorem Ipsum please put some text here!
                </small>
            </div>

            <div class="clearfix visible-md visible-sm"></div>

            <div class="item ">
                <p>
                    Autocomplete
                </p>
                <small>
                    Lorem Ipsum please put some text here!
                </small>
            </div>
            <div class="item ">
                <p>
                    Grids
                </p>
                <small>
                    Lorem Ipsum please put some text here!
                </small>
            </div>
            <div class="item ">
                <p>
                    Wow look at me I'm another feature!
                </p>
                <small>
                    Lorem Ipsum please put some text here!
                </small>
            </div>
        </div>
        </div>
    </div>
</div>

