.hide-non-error-details {
  .v-input {
    .v-input__details,
    .v-messages,
    &.v-input--switch .v-input__slot,
    &.v-input--checkbox .v-input__slot {
      transition: min-height 0.3s cubic-bezier(0.25, 0.8, 0.5, 1),
        margin-bottom 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
    }
  }

  .v-input {
    // Make the messages area have a margin and min height when not empty.
    // Otherwise, collapse it when empty. Min-height is important for smooth animation here.
    .v-messages {
      margin-bottom: 0;
      min-height: 0;
    }
    .v-messages:not(:empty) {
      margin-bottom: 12px;
      min-height: 12px;
    }

    // Vuetify normally applies the message area height styling to the
    // parts different than the messages__wrapper. Remove this.
    .v-input__details {
      min-height: 0 !important;
      margin-bottom: 0 !important;

      .v-messages {
        min-height: 0 !important;
      }
    }

    &.v-input--switch,
    &.v-input--checkbox {
      .v-input__slot {
        margin-bottom: 0;
      }

      .v-messages {
        min-height: 0 !important;
      }
    }
  }
}

.c-password-display {
  white-space: nowrap;
}

.c-display--color-swatch {
  border-radius: 0.5em;
  height: 1em;
  width: 1em;
  display: inline-block;
  vertical-align: text-top;
  margin-right: 0.3ex;
}

.v-text-field input[type="color"] {
  // These two swatch styles are crafted to make Chrome and FF look the same.

  &::-webkit-color-swatch {
    margin: -2px -2px;
    border-radius: 4px;
  }

  &::-moz-color-swatch {
    border-radius: 4px;
    max-height: calc(100% - 9px);
  }
}

.fixed-table-column-right {
  position: sticky;
  right: 0;
  background: rgb(var(--v-theme-surface-light));
  box-shadow: -2px 2px 4px 0px rgba(0, 0, 0, 0.4);
}
