name: CI Build

on:
  pull_request:
    branches: [main, release/*]
  push:
    branches: [main, release/*]
  workflow_dispatch:

jobs:
  meta:
    uses: ./.github/workflows/part-compute-version.yml
    secrets: inherit
    with:
      prereleaseSlug: ci

  build:
    uses: ./.github/workflows/part-build.yml
    secrets: inherit
    needs: meta
    with:
      COALESCE_VERSION: ${{ needs.meta.outputs.COALESCE_VERSION }}
